In [22]:
import pandas as pd
import numpy as np

In [6]:
!ls

Untitled.ipynb       test.csv
sampleSubmission.csv train.csv

In [60]:
!ls

Untitled.ipynb       sampleSubmission.csv train.csv
predictions.csv      test.csv

In [61]:
submission_df = pd.read_csv('sampleSubmission.csv')

In [62]:
submission_df.head()

,id,s1,s2,s3,s4,s5,w1,w2,w3,w4,...,k6,k7,k8,k9,k10,k11,k12,k13,k14,k15
0,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv("test.csv")

In [14]:
train_df.columns

Index(['id', 'tweet', 'state', 'location', 's1', 's2', 's3', 's4', 's5', 'w1',
       'w2', 'w3', 'w4', 'k1', 'k2', 'k3', 'k4', 'k5', 'k6', 'k7', 'k8', 'k9',
       'k10', 'k11', 'k12', 'k13', 'k14', 'k15'],
      dtype='object')

In [15]:
train_df.head()

,id,tweet,state,location,s1,s2,s3,s4,s5,w1,...,k6,k7,k8,k9,k10,k11,k12,k13,k14,k15
0,1,Jazz for a Rainy Afternoon: {link},oklahoma,Oklahoma,0.0,0.0,1.0,0.000,0.000,0.800,...,0.0,0.000,0.0,0.000,1.0,0.0,0.0,0.000,0.0,0.0
1,2,RT: @mention: I love rainy days.,florida,Miami-Ft. Lauderdale,0.0,0.0,0.0,1.000,0.000,0.196,...,0.0,0.000,0.0,0.000,1.0,0.0,0.0,0.000,0.0,0.0
2,3,Good Morning Chicago! Time to kick the Windy C...,idaho,NaN,0.0,0.0,0.0,0.000,1.000,0.000,...,0.0,1.000,0.0,0.000,0.0,0.0,0.0,0.000,0.0,0.0
3,6,Preach lol! :) RT @mention: #alliwantis this t...,minnesota,Minneapolis-St. Paul,0.0,0.0,0.0,1.000,0.000,1.000,...,0.0,0.604,0.0,0.196,0.0,0.0,0.0,0.201,0.0,0.0
4,9,@mention good morning sunshine,rhode island,Purgatory,0.0,0.0,0.0,0.403,0.597,1.000,...,0.0,0.000,0.0,0.000,0.0,0.0,0.0,1.000,0.0,0.0

s= sentiment  
w = when   
k = kind

In [28]:
len(train_df)

77946

In [93]:
train_df.iloc[0]

id                                            1
tweet       Jazz for a Rainy Afternoon:  {link}
state                                  oklahoma
location                               Oklahoma
s1                                            0
s2                                            0
s3                                            1
s4                                            0
s5                                            0
w1                                          0.8
w2                                            0
w3                                          0.2
w4                                            0
k1                                            0
k2                                            0
k3                                            0
k4                                            0
k5                                            0
k6                                            0
k7                                            0
k8                                            0
k9                                            0
k10                                           1
k11                                           0
k12                                           0
k13                                           0
k14                                           0
k15                                           0
Name: 0, dtype: object

In [30]:
train_df['location'].value_counts()

Chicago                       884
Las Vegas                     749
Portland, OR                  732
New York                      719
Kansas City                   661
Detroit                       621
Denver                        620
Milwaukee                     602
Atlanta                       599
Seattle-Tacoma                578
Pittsburgh                    568
Indianapolis                  563
Boston (Manchester)           556
Philadelphia                  535
Baltimore                     527
Los Angeles                   525
Columbus, OH                  520
Salt Lake City                519
Nashville                     501
Minneapolis-St. Paul          476
Oklahoma City                 470
Phoenix (Prescott)            465
Charlotte                     443
Louisville                    436
Raleigh-Durham (Fayetvlle)    417
Hartford & New Haven          415
Albuquerque-Santa Fe          414
Birmingham (Ann and Tusc)     411
Memphis                       409
San Diego                     407
                             ...
Sarasota, Fl                    1
Pluto .                         1
Gayville                        1
Valparaiso                      1
Oceanside, California           1
Portage Manitoba Canada         1
Delaware .                      1
Bet u love to know!             1
Methuen, ma                     1
Westbrook, Maine                1
New York :)                     1
wetumka,oklahoma                1
Roseville Fountains             1
Phoenix and Des Moines          1
Rutland                         1
Hartford, Conn.                 1
Wheeling                        1
Fort Wayne                      1
B-MORE                          1
virginia.                       1
Wheatland, Missouri             1
Concord, New Hampshire          1
Pullman                         1
La Jolla (San Diego)            1
Pegram                          1
Temple U                        1
houston, United States          1
Durham, Nc/*BullCity*           1
miami fl                        1
Los Angeles, (CA)               1
Name: location, Length: 12156, dtype: int64

In [16]:
train_df.iloc[0]

id                                            1
tweet       Jazz for a Rainy Afternoon:  {link}
state                                  oklahoma
location                               Oklahoma
s1                                            0
s2                                            0
s3                                            1
s4                                            0
s5                                            0
w1                                          0.8
w2                                            0
w3                                          0.2
w4                                            0
k1                                            0
k2                                            0
k3                                            0
k4                                            0
k5                                            0
k6                                            0
k7                                            0
k8                                            0
k9                                            0
k10                                           1
k11                                           0
k12                                           0
k13                                           0
k14                                           0
k15                                           0
Name: 0, dtype: object

In [17]:
sample_df = pd.read_csv('sampleSubmission.csv')

In [18]:
sample_df.head()

,id,s1,s2,s3,s4,s5,w1,w2,w3,w4,...,k6,k7,k8,k9,k10,k11,k12,k13,k14,k15
0,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
sample_df.iloc[5]

id     19
s1      0
s2      0
s3      0
s4      0
s5      0
w1      0
w2      0
w3      0
w4      0
k1      0
k2      0
k3      0
k4      0
k5      0
k6      0
k7      0
k8      0
k9      0
k10     0
k11     0
k12     0
k13     0
k14     0
k15     0
Name: 5, dtype: int64

In [20]:
import numpy
from sklearn.feature_extraction.text import TfidfVectorizer

In [67]:
?TfidfVectorizer

In [24]:
tfidf = TfidfVectorizer(max_features=10000, strip_accents='unicode', analyzer='word')
tfidf.fit(train_df['tweet'])
X = tfidf.transform(train_df['tweet'])
test = tfidf.transform(test_df["tweet"])
y = np.array(train_df.ix[:,4:])

/Users/nidhin/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel/__main__.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix

In [74]:
X.shape

(77946, 10000)

In [79]:
X[0].toarray()

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [25]:
train_df

,id,tweet,state,location,s1,s2,s3,s4,s5,w1,...,k6,k7,k8,k9,k10,k11,k12,k13,k14,k15
0,1,Jazz for a Rainy Afternoon: {link},oklahoma,Oklahoma,0.000,0.000,1.000,0.000,0.000,0.800,...,0.0,0.000,0.0,0.000,1.000,0.0,0.000,0.000,0.0,0.000
1,2,RT: @mention: I love rainy days.,florida,Miami-Ft. Lauderdale,0.000,0.000,0.000,1.000,0.000,0.196,...,0.0,0.000,0.0,0.000,1.000,0.0,0.000,0.000,0.0,0.000
2,3,Good Morning Chicago! Time to kick the Windy C...,idaho,NaN,0.000,0.000,0.000,0.000,1.000,0.000,...,0.0,1.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
3,6,Preach lol! :) RT @mention: #alliwantis this t...,minnesota,Minneapolis-St. Paul,0.000,0.000,0.000,1.000,0.000,1.000,...,0.0,0.604,0.0,0.196,0.000,0.0,0.000,0.201,0.0,0.000
4,9,@mention good morning sunshine,rhode island,Purgatory,0.000,0.000,0.000,0.403,0.597,1.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,1.000,0.0,0.000
5,10,Rather be storm chasing.,district of columbia,"Washington, DC",0.000,0.000,0.600,0.000,0.400,0.000,...,0.0,0.000,0.0,0.000,0.000,0.0,1.000,0.000,0.0,0.000
6,11,#WEATHER: 1:54 pm : 61.0F. Feels 60F. 29.98% ...,michigan,"St Louis, MI, USA",0.000,0.000,1.000,0.000,0.000,1.000,...,0.0,0.421,0.0,0.176,0.000,0.0,0.000,0.000,0.0,0.579
7,13,Father. Son. Holy ghost. Amen... hope I come o...,connecticut,Hartford & New Haven,0.000,0.193,0.000,0.000,0.807,1.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
8,14,Mild Monday best weather day of the week in Ok...,oklahoma,Oklahoma City,0.000,0.000,0.000,1.000,0.000,0.599,...,0.0,0.605,0.0,0.200,0.000,0.0,0.000,0.000,0.0,0.000
9,15,"With the snow forecast for Tahoe this weekend,...",california,Sacramnto-Stkton-Modesto,0.208,0.000,0.792,0.000,0.000,0.000,...,0.0,0.000,0.0,0.000,0.000,1.0,0.000,0.000,0.0,0.000
10,16,No signs of the appocolypse yet.. sunshine and...,kansas,"Lawrence, Kansas",0.000,0.000,0.185,0.815,0.000,1.000,...,0.0,0.000,0.0,0.207,0.000,0.0,0.000,1.000,0.0,0.000
11,17,"Outside: 62.7 F, Humidity: 71%, Wind: (121) 11...",new mexico,"Farmington, MN",0.000,0.000,1.000,0.000,0.000,1.000,...,0.0,0.403,0.0,0.000,0.597,0.0,0.000,0.000,0.0,0.597
12,18,@mention another storm? At least we're gettin...,texas,"Austin, TX",0.000,0.795,0.000,0.205,0.000,1.000,...,0.0,0.000,0.0,0.000,1.000,0.0,1.000,0.000,0.0,0.000
13,21,RT @mention: Rainy afternoons are great for ho...,north carolina,NaN,0.000,0.000,0.000,1.000,0.000,0.605,...,0.0,0.000,0.0,0.000,1.000,0.0,0.000,0.000,0.0,0.000
14,23,Can already tell it's going to be a tough scor...,south carolina,"Columbia, SC",0.000,0.425,0.575,0.000,0.000,1.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.791
15,24,"A lil chilly all good to words for that, CALL ...",indiana,Indianapolis,0.201,0.000,0.211,0.176,0.412,1.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
16,25,Loving the Sugarland concert! ( even though im...,pennsylvania,Pittsburgh,0.000,0.408,0.000,0.189,0.404,1.000,...,0.0,0.000,0.0,0.000,0.655,0.0,0.000,0.000,0.0,0.000
17,28,I'm gonna do big things today: running during ...,maryland,NaN,0.000,1.000,0.000,0.000,0.000,1.000,...,0.0,1.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
18,30,"Today was windy AF, I don't wanna go meet up w...",arizona,Phoenix (Prescott),0.000,0.613,0.387,0.000,0.000,0.793,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,1.000
19,31,@mention damnhomie. Perfect weather over here....,maryland,Baltimore,0.000,0.000,0.000,1.000,0.000,1.000,...,0.0,0.803,0.0,0.000,0.000,0.0,0.000,0.197,0.0,0.000
20,32,I also can't ever live w/ someone from Arizona...,arizona,"Phoenix, Arizona",0.000,0.203,0.000,0.000,0.797,1.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
21,34,It was 102 degrees yesterday. I am not ready f...,arizona,Phoenix (Prescott),0.000,0.593,0.000,0.407,0.000,0.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
22,36,Current weather at the Kennedy Space Center is...,oklahoma,NaN,0.167,0.000,0.407,0.222,0.204,1.000,...,0.0,1.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
23,37,@mention cold cloudy rainy :(,delaware,NaN,0.000,1.000,0.000,0.000,0.000,1.000,...,0.0,0.000,0.0,0.000,0.797,0.0,0.000,0.000,0.0,0.000
24,38,"@mention cold, & kinda damp here, but losing m...",kansas,NaN,0.000,0.604,0.396,0.000,0.000,1.000,...,0.0,0.200,0.0,0.000,0.595,0.0,0.000,0.000,0.0,0.000
25,41,RT @mention: All week we been having cuddle we...,virginia,NaN,0.215,0.000,0.368,0.417,0.000,0.404,...,0.0,0.583,0.0,0.215,0.000,0.0,0.000,0.000,0.0,0.000
26,42,"Work week over, finals over, dinner eaten and ...",virginia,"Burke, VA",0.205,0.389,0.000,0.406,0.000,1.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
27,44,@mention he was right Biggest storm of the yea...,texas,"Grapevine,TX",0.000,0.000,0.600,0.000,0.400,0.337,...,0.0,0.000,0.0,0.000,0.000,0.0,1.000,0.000,0.0,0.000
28,46,RT @mention I hope this weather clears up for ...,new york,New York,0.000,0.855,0.000,0.000,0.145,1.000,...,0.0,1.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
29,47,@mention lol yeah it's too hot outside not to ...,north dakota,Giving u a reason 2 watch me,0.202,0.602,0.196,0.000,0.000,1.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77916,120055,CLK weather!!!!,new york,NYC,0.796,0.000,0.000,0.000,0.204,0.507,...,0.0,1.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
77917,120058,(Joe) A return to a very wet weather pattern ...,north dakota,North Dakota,0.203,0.000,0.797,0.000,0.000,0.376,...,0.0,0.000,0.0,0.000,0.822,0.0,0.000,0.000,0.0,0.178
77918,120059,"""@mention: Trend setter from my hat to my swea...",rhode island,RI,0.201,0.000,0.000,0.000,0.799,0.000,...,0.0,1.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
77919,120062,Well I kno hw ta do that @mention im so dam co...,tennessee,memphis tn,0.000,0.587,0.000,0.000,0.413,1.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
77920,120063,"regretting running around buena vista, thruway...",north carolina,winston-salem,0.000,0.796,0.204,0.000,0.000,0.796,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.204,0.0,0.000
77921,120067,SNOW!!! ~Mt. Shasta City,arizona,"Tempe, AZ",0.192,0.000,0.408,0.401,0.000,0.592,...,0.0,0.000,0.0,0.000,0.000,1.0,0.000,0.000,0.0,0.000
77922,120069,Triangle Youth Brass Band- Rainy Day in Rio {l...,minnesota,Minneapolis-St. Paul,0.000,0.000,0.369,0.000,0.631,1.000,...,0.0,0.000,0.0,0.000,1.000,0.0,0.000,0.000,0.0,0.000
77923,120070,Perfect ankle breaking weather. Ahhh,maryland,NaN,0.198,0.199,0.000,0.412,0.191,0.756,...,0.0,0.743,0.0,0.257,0.000,0.0,0.000,0.257,0.0,0.000
77924,120071,So far today is pretty great weather wise for ...,illinois,chicago.,0.000,0.000,0.000,1.000,0.000,1.000,...,0.0,0.612,0.0,0.205,0.000,0.0,0.000,0.000,0.0,0.000
77925,120072,"Windows down, sunshine, country roads, and @me...",ohio,"Columbus, OH",0.000,0.000,0.393,0.607,0.000,0.818,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,1.000,0.0,0.000
77926,120074,this weather is making me extra tired,missouri,NaN,0.000,0.800,0.200,0.000,0.000,1.000,...,0.0,1.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
77927,120075,@mention no fun this weekend. A sick kid & rai...,south dakota,NaN,0.000,1.000,0.000,0.000,0.000,0.174,...,0.0,0.000,0.0,0.000,1.000,0.0,0.000,0.000,0.0,0.000
77928,120076,"Wow, SR20 made the Daily Mail site in the UK. ...",washington,NaN,0.000,0.000,1.000,0.000,0.000,0.203,...,0.0,0.000,0.0,0.000,0.000,1.0,0.000,0.000,0.0,0.000
77929,120077,I dont understand how its almost summer time y...,georgia,Atlanta,0.000,0.807,0.193,0.000,0.000,1.000,...,0.0,0.193,0.0,0.000,0.000,0.0,0.000,0.195,0.0,0.000
77930,120079,Sunny at 68 in the catskills. Wow. Left city a...,new york,New York,0.347,0.000,0.327,0.326,0.000,1.000,...,0.0,0.000,0.0,0.170,0.000,0.0,0.000,1.000,0.0,0.000
77931,120080,Monday Forecast... partly sunny... a stray thu...,south carolina,Greenvll-Spart-Ashevll-And,0.000,0.000,1.000,0.000,0.000,0.207,...,0.0,0.000,0.0,0.204,0.000,0.0,0.801,1.000,0.0,0.621
77932,120082,What's the weather situation over in East Boise?,idaho,NaN,0.000,0.000,0.806,0.000,0.194,1.000,...,0.0,0.750,0.0,0.250,0.000,0.0,0.000,0.000,0.0,0.000
77933,120084,looks like another hot day. watering the front...,kansas,Kansas,0.207,0.199,0.594,0.000,0.000,1.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.395,0.0,0.000
77934,120085,Storms have started here in #Casper #Wyoming.....,wyoming,"Casper, WY",0.000,0.000,1.000,0.000,0.000,1.000,...,0.0,0.000,0.0,0.598,0.803,0.0,1.000,0.000,0.0,0.000
77935,120086,Lmao damm RT @mention I Didn't Plan On Havin T...,california,Los Angeles,0.000,1.000,0.000,0.000,0.000,1.000,...,0.0,0.806,0.0,0.194,0.000,0.0,0.000,0.000,0.0,0.000
77936,120087,"Hate the feeling of being home alone, especial...",nebraska,"Lincoln, NE",0.000,0.000,0.566,0.000,0.434,0.728,...,0.0,0.000,0.0,0.000,0.000,0.0,1.000,0.000,0.0,0.000
77937,120089,Good morning gorgeous tweets! Looks like anoth...,maryland,Essex,0.000,0.000,0.000,1.000,0.000,1.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,1.000,0.0,0.000
77938,120091,Rt @mention: Severe thunderstorm warning for P...,iowa,NaN,0.000,0.000,1.000,0.000,0.000,0.506,...,0.0,0.000,0.0,0.000,0.158,0.0,1.000,0.000,0.0,0.000
77939,120092,If this stupid weather jacks up my tv so I can...,new mexico,"Farmington, AR",0.000,0.795,0.000,0.000,0.205,1.000,...,0.0,0.742,0.0,0.258,0.000,0.0,0.000,0.000,0.0,0.000
77940,120093,#WEATHER: 8:53 pm : 70.0F. Feels F. 29.84% Hu...,texas,San Antonio,0.000,0.000,1.000,0.000,0.000,1.000,...,0.0,0.594,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.406
77941,120095,"Current Conditions: Fair, 78 FForecast: Sat - ...",florida,"Jacksonville, Florida",0.000,0.000,1.000,0.000,0.000,0.206,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.794,0.0,0.000
77942,120097,WE DOIN SOMETHING DIFFERENT... SINCE THE WEATH...,colorado,"Denver,Colorado",0.000,0.000,0.000,1.000,0.000,1.000,...,0.0,1.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
77943,120098,OMG #WeatherForecast for tomm 80 degrees & Sun...,pennsylvania,"Philadelphia, United States",0.000,0.000,0.000,1.000,0.000,0.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,1.000,0.0,0.000
77944,120100,@mention Oh no! We had cold weather early in t...,alabama,Birmingham (Ann and Tusc),0.000,0.385,0.410,0.205,0.000,0.416,...,0.0,0.000,0.0,0.211,0.591,0.0,0.000,0.000,0.0,0.000
77945,120103,North Cascades Hwy to reopen Wed.: quite late ...,washington,Seattle,0.000,0.202,0.395,0.000,0.403,0.000,...,0.0,0.000,0.0,0.000,0.000,1.0,0.000,0.000,0.0,0.000

In [95]:
X.shape[0]

77946

In [96]:
def cost_function(y_actual,y_predicted):
    rms = sqrt(mean_squared_error(y_actual, y_predicted))
    return rms
    

def get_top_words(tfidf):
    feature_array = np.array(tfidf.get_feature_names())
    tfidf_sorting = np.argsort(response.toarray()).flatten()[::-1]

    n = 3
    top_n = feature_array[tfidf_sorting][:n]
    return top_n

In [40]:
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.linear_model import Ridge

from sklearn.model_selection import train_test_split

In [37]:
clf = Ridge(alpha=1.0)
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=42)

clf.fit(X_train,y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [39]:
predictions = clf.predict(X_test)

In [43]:
cost_function(y_actual=y_test,y_predicted=predictions)

0.1630360154366728

In [44]:
train_df

,id,tweet,state,location,s1,s2,s3,s4,s5,w1,...,k6,k7,k8,k9,k10,k11,k12,k13,k14,k15
0,1,Jazz for a Rainy Afternoon: {link},oklahoma,Oklahoma,0.000,0.000,1.000,0.000,0.000,0.800,...,0.0,0.000,0.0,0.000,1.000,0.0,0.000,0.000,0.0,0.000
1,2,RT: @mention: I love rainy days.,florida,Miami-Ft. Lauderdale,0.000,0.000,0.000,1.000,0.000,0.196,...,0.0,0.000,0.0,0.000,1.000,0.0,0.000,0.000,0.0,0.000
2,3,Good Morning Chicago! Time to kick the Windy C...,idaho,NaN,0.000,0.000,0.000,0.000,1.000,0.000,...,0.0,1.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
3,6,Preach lol! :) RT @mention: #alliwantis this t...,minnesota,Minneapolis-St. Paul,0.000,0.000,0.000,1.000,0.000,1.000,...,0.0,0.604,0.0,0.196,0.000,0.0,0.000,0.201,0.0,0.000
4,9,@mention good morning sunshine,rhode island,Purgatory,0.000,0.000,0.000,0.403,0.597,1.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,1.000,0.0,0.000
5,10,Rather be storm chasing.,district of columbia,"Washington, DC",0.000,0.000,0.600,0.000,0.400,0.000,...,0.0,0.000,0.0,0.000,0.000,0.0,1.000,0.000,0.0,0.000
6,11,#WEATHER: 1:54 pm : 61.0F. Feels 60F. 29.98% ...,michigan,"St Louis, MI, USA",0.000,0.000,1.000,0.000,0.000,1.000,...,0.0,0.421,0.0,0.176,0.000,0.0,0.000,0.000,0.0,0.579
7,13,Father. Son. Holy ghost. Amen... hope I come o...,connecticut,Hartford & New Haven,0.000,0.193,0.000,0.000,0.807,1.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
8,14,Mild Monday best weather day of the week in Ok...,oklahoma,Oklahoma City,0.000,0.000,0.000,1.000,0.000,0.599,...,0.0,0.605,0.0,0.200,0.000,0.0,0.000,0.000,0.0,0.000
9,15,"With the snow forecast for Tahoe this weekend,...",california,Sacramnto-Stkton-Modesto,0.208,0.000,0.792,0.000,0.000,0.000,...,0.0,0.000,0.0,0.000,0.000,1.0,0.000,0.000,0.0,0.000
10,16,No signs of the appocolypse yet.. sunshine and...,kansas,"Lawrence, Kansas",0.000,0.000,0.185,0.815,0.000,1.000,...,0.0,0.000,0.0,0.207,0.000,0.0,0.000,1.000,0.0,0.000
11,17,"Outside: 62.7 F, Humidity: 71%, Wind: (121) 11...",new mexico,"Farmington, MN",0.000,0.000,1.000,0.000,0.000,1.000,...,0.0,0.403,0.0,0.000,0.597,0.0,0.000,0.000,0.0,0.597
12,18,@mention another storm? At least we're gettin...,texas,"Austin, TX",0.000,0.795,0.000,0.205,0.000,1.000,...,0.0,0.000,0.0,0.000,1.000,0.0,1.000,0.000,0.0,0.000
13,21,RT @mention: Rainy afternoons are great for ho...,north carolina,NaN,0.000,0.000,0.000,1.000,0.000,0.605,...,0.0,0.000,0.0,0.000,1.000,0.0,0.000,0.000,0.0,0.000
14,23,Can already tell it's going to be a tough scor...,south carolina,"Columbia, SC",0.000,0.425,0.575,0.000,0.000,1.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.791
15,24,"A lil chilly all good to words for that, CALL ...",indiana,Indianapolis,0.201,0.000,0.211,0.176,0.412,1.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
16,25,Loving the Sugarland concert! ( even though im...,pennsylvania,Pittsburgh,0.000,0.408,0.000,0.189,0.404,1.000,...,0.0,0.000,0.0,0.000,0.655,0.0,0.000,0.000,0.0,0.000
17,28,I'm gonna do big things today: running during ...,maryland,NaN,0.000,1.000,0.000,0.000,0.000,1.000,...,0.0,1.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
18,30,"Today was windy AF, I don't wanna go meet up w...",arizona,Phoenix (Prescott),0.000,0.613,0.387,0.000,0.000,0.793,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,1.000
19,31,@mention damnhomie. Perfect weather over here....,maryland,Baltimore,0.000,0.000,0.000,1.000,0.000,1.000,...,0.0,0.803,0.0,0.000,0.000,0.0,0.000,0.197,0.0,0.000
20,32,I also can't ever live w/ someone from Arizona...,arizona,"Phoenix, Arizona",0.000,0.203,0.000,0.000,0.797,1.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
21,34,It was 102 degrees yesterday. I am not ready f...,arizona,Phoenix (Prescott),0.000,0.593,0.000,0.407,0.000,0.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
22,36,Current weather at the Kennedy Space Center is...,oklahoma,NaN,0.167,0.000,0.407,0.222,0.204,1.000,...,0.0,1.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
23,37,@mention cold cloudy rainy :(,delaware,NaN,0.000,1.000,0.000,0.000,0.000,1.000,...,0.0,0.000,0.0,0.000,0.797,0.0,0.000,0.000,0.0,0.000
24,38,"@mention cold, & kinda damp here, but losing m...",kansas,NaN,0.000,0.604,0.396,0.000,0.000,1.000,...,0.0,0.200,0.0,0.000,0.595,0.0,0.000,0.000,0.0,0.000
25,41,RT @mention: All week we been having cuddle we...,virginia,NaN,0.215,0.000,0.368,0.417,0.000,0.404,...,0.0,0.583,0.0,0.215,0.000,0.0,0.000,0.000,0.0,0.000
26,42,"Work week over, finals over, dinner eaten and ...",virginia,"Burke, VA",0.205,0.389,0.000,0.406,0.000,1.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
27,44,@mention he was right Biggest storm of the yea...,texas,"Grapevine,TX",0.000,0.000,0.600,0.000,0.400,0.337,...,0.0,0.000,0.0,0.000,0.000,0.0,1.000,0.000,0.0,0.000
28,46,RT @mention I hope this weather clears up for ...,new york,New York,0.000,0.855,0.000,0.000,0.145,1.000,...,0.0,1.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
29,47,@mention lol yeah it's too hot outside not to ...,north dakota,Giving u a reason 2 watch me,0.202,0.602,0.196,0.000,0.000,1.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77916,120055,CLK weather!!!!,new york,NYC,0.796,0.000,0.000,0.000,0.204,0.507,...,0.0,1.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
77917,120058,(Joe) A return to a very wet weather pattern ...,north dakota,North Dakota,0.203,0.000,0.797,0.000,0.000,0.376,...,0.0,0.000,0.0,0.000,0.822,0.0,0.000,0.000,0.0,0.178
77918,120059,"""@mention: Trend setter from my hat to my swea...",rhode island,RI,0.201,0.000,0.000,0.000,0.799,0.000,...,0.0,1.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
77919,120062,Well I kno hw ta do that @mention im so dam co...,tennessee,memphis tn,0.000,0.587,0.000,0.000,0.413,1.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
77920,120063,"regretting running around buena vista, thruway...",north carolina,winston-salem,0.000,0.796,0.204,0.000,0.000,0.796,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.204,0.0,0.000
77921,120067,SNOW!!! ~Mt. Shasta City,arizona,"Tempe, AZ",0.192,0.000,0.408,0.401,0.000,0.592,...,0.0,0.000,0.0,0.000,0.000,1.0,0.000,0.000,0.0,0.000
77922,120069,Triangle Youth Brass Band- Rainy Day in Rio {l...,minnesota,Minneapolis-St. Paul,0.000,0.000,0.369,0.000,0.631,1.000,...,0.0,0.000,0.0,0.000,1.000,0.0,0.000,0.000,0.0,0.000
77923,120070,Perfect ankle breaking weather. Ahhh,maryland,NaN,0.198,0.199,0.000,0.412,0.191,0.756,...,0.0,0.743,0.0,0.257,0.000,0.0,0.000,0.257,0.0,0.000
77924,120071,So far today is pretty great weather wise for ...,illinois,chicago.,0.000,0.000,0.000,1.000,0.000,1.000,...,0.0,0.612,0.0,0.205,0.000,0.0,0.000,0.000,0.0,0.000
77925,120072,"Windows down, sunshine, country roads, and @me...",ohio,"Columbus, OH",0.000,0.000,0.393,0.607,0.000,0.818,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,1.000,0.0,0.000
77926,120074,this weather is making me extra tired,missouri,NaN,0.000,0.800,0.200,0.000,0.000,1.000,...,0.0,1.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
77927,120075,@mention no fun this weekend. A sick kid & rai...,south dakota,NaN,0.000,1.000,0.000,0.000,0.000,0.174,...,0.0,0.000,0.0,0.000,1.000,0.0,0.000,0.000,0.0,0.000
77928,120076,"Wow, SR20 made the Daily Mail site in the UK. ...",washington,NaN,0.000,0.000,1.000,0.000,0.000,0.203,...,0.0,0.000,0.0,0.000,0.000,1.0,0.000,0.000,0.0,0.000
77929,120077,I dont understand how its almost summer time y...,georgia,Atlanta,0.000,0.807,0.193,0.000,0.000,1.000,...,0.0,0.193,0.0,0.000,0.000,0.0,0.000,0.195,0.0,0.000
77930,120079,Sunny at 68 in the catskills. Wow. Left city a...,new york,New York,0.347,0.000,0.327,0.326,0.000,1.000,...,0.0,0.000,0.0,0.170,0.000,0.0,0.000,1.000,0.0,0.000
77931,120080,Monday Forecast... partly sunny... a stray thu...,south carolina,Greenvll-Spart-Ashevll-And,0.000,0.000,1.000,0.000,0.000,0.207,...,0.0,0.000,0.0,0.204,0.000,0.0,0.801,1.000,0.0,0.621
77932,120082,What's the weather situation over in East Boise?,idaho,NaN,0.000,0.000,0.806,0.000,0.194,1.000,...,0.0,0.750,0.0,0.250,0.000,0.0,0.000,0.000,0.0,0.000
77933,120084,looks like another hot day. watering the front...,kansas,Kansas,0.207,0.199,0.594,0.000,0.000,1.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.395,0.0,0.000
77934,120085,Storms have started here in #Casper #Wyoming.....,wyoming,"Casper, WY",0.000,0.000,1.000,0.000,0.000,1.000,...,0.0,0.000,0.0,0.598,0.803,0.0,1.000,0.000,0.0,0.000
77935,120086,Lmao damm RT @mention I Didn't Plan On Havin T...,california,Los Angeles,0.000,1.000,0.000,0.000,0.000,1.000,...,0.0,0.806,0.0,0.194,0.000,0.0,0.000,0.000,0.0,0.000
77936,120087,"Hate the feeling of being home alone, especial...",nebraska,"Lincoln, NE",0.000,0.000,0.566,0.000,0.434,0.728,...,0.0,0.000,0.0,0.000,0.000,0.0,1.000,0.000,0.0,0.000
77937,120089,Good morning gorgeous tweets! Looks like anoth...,maryland,Essex,0.000,0.000,0.000,1.000,0.000,1.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,1.000,0.0,0.000
77938,120091,Rt @mention: Severe thunderstorm warning for P...,iowa,NaN,0.000,0.000,1.000,0.000,0.000,0.506,...,0.0,0.000,0.0,0.000,0.158,0.0,1.000,0.000,0.0,0.000
77939,120092,If this stupid weather jacks up my tv so I can...,new mexico,"Farmington, AR",0.000,0.795,0.000,0.000,0.205,1.000,...,0.0,0.742,0.0,0.258,0.000,0.0,0.000,0.000,0.0,0.000
77940,120093,#WEATHER: 8:53 pm : 70.0F. Feels F. 29.84% Hu...,texas,San Antonio,0.000,0.000,1.000,0.000,0.000,1.000,...,0.0,0.594,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.406
77941,120095,"Current Conditions: Fair, 78 FForecast: Sat - ...",florida,"Jacksonville, Florida",0.000,0.000,1.000,0.000,0.000,0.206,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,0.794,0.0,0.000
77942,120097,WE DOIN SOMETHING DIFFERENT... SINCE THE WEATH...,colorado,"Denver,Colorado",0.000,0.000,0.000,1.000,0.000,1.000,...,0.0,1.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.000
77943,120098,OMG #WeatherForecast for tomm 80 degrees & Sun...,pennsylvania,"Philadelphia, United States",0.000,0.000,0.000,1.000,0.000,0.000,...,0.0,0.000,0.0,0.000,0.000,0.0,0.000,1.000,0.0,0.000
77944,120100,@mention Oh no! We had cold weather early in t...,alabama,Birmingham (Ann and Tusc),0.000,0.385,0.410,0.205,0.000,0.416,...,0.0,0.000,0.0,0.211,0.591,0.0,0.000,0.000,0.0,0.000
77945,120103,North Cascades Hwy to reopen Wed.: quite late ...,washington,Seattle,0.000,0.202,0.395,0.000,0.403,0.000,...,0.0,0.000,0.0,0.000,0.000,1.0,0.000,0.000,0.0,0.000

In [81]:
train_df.iloc[5]

id                                10
tweet       Rather be storm chasing.
state           district of columbia
location              Washington, DC
s1                                 0
s2                                 0
s3                               0.6
s4                                 0
s5                               0.4
w1                                 0
w2                                 0
w3                                 1
w4                                 0
k1                                 0
k2                                 0
k3                                 0
k4                                 0
k5                                 0
k6                                 0
k7                                 0
k8                                 0
k9                                 0
k10                                0
k11                                0
k12                                1
k13                                0
k14                                0
k15                                0
Name: 5, dtype: object

In [82]:
def make_submission(test_df):
    features = tfidf.transform(test_df['tweet'])
    predictions = clf.predict(features)
    predictions= np.clip(predictions,a_min=0,a_max=1)

    return predictions

In [83]:
test_predictions  = make_submission(test_df)

In [84]:
test_predictions

array([[ 0.15860602,  0.06298648,  0.25018159, ...,  0.97520128,
         0.        ,  0.00439072],
       [ 0.05639989,  0.        ,  0.6480178 , ...,  0.08359714,
         0.01754788,  0.00132166],
       [ 0.09310202,  0.2289193 ,  0.27688071, ...,  0.10192033,
         0.01949025,  0.        ],
       ...,
       [ 0.        ,  0.17738829,  0.21137123, ...,  0.        ,
         0.04700355,  0.        ],
       [ 0.0280645 ,  0.03884299,  0.71466489, ...,  0.07771458,
         0.70695607,  0.        ],
       [ 0.03195348,  0.10910406,  0.14863363, ...,  0.85021215,
         0.        ,  0.01477744]])

In [57]:
prediction = np.array(np.hstack([np.matrix(test_df['id']).T, test_predictions])) 
col = '%i,' + '%f,'*23 + '%f'
np.savetxt('predictions.csv', prediction,col, delimiter=',')

In [63]:
?pd.DataFrame

In [92]:
df2 = pd.DataFrame(data=prediction, columns = submission_df.columns)
df2['id'] = df2['id'].apply(int)
df2.to_csv('decision_tree.csv.gz',index=False, compression='gzip' )

In [90]:
df2.head()

,id,s1,s2,s3,s4,s5,w1,w2,w3,w4,...,k6,k7,k8,k9,k10,k11,k12,k13,k14,k15
0,4,0.158606,0.062986,0.250182,0.423127,0.105074,0.869112,0.010039,0.210271,-0.089351,...,-0.004048,0.372118,-0.002666,0.024863,-0.070670,-0.029618,-0.123032,0.975201,-0.006288,0.004391
1,5,0.056400,-0.006051,0.648018,0.063183,0.238276,0.396668,0.315599,0.174077,0.113427,...,-0.000365,0.127034,0.003016,-0.027252,0.056807,-0.017248,0.707016,0.083597,0.017548,0.001322
2,7,0.093102,0.228919,0.276881,0.044977,0.356104,0.403793,0.161073,0.229982,0.204910,...,0.002107,0.665028,-0.014606,0.065214,-0.020271,0.107602,0.102871,0.101920,0.019490,-0.021501
3,8,0.002830,0.004890,0.967036,-0.003494,0.028592,0.876066,0.036785,0.062963,0.024343,...,-0.000860,0.156441,0.001207,0.217923,0.021549,-0.001353,0.030685,0.045053,-0.001126,0.619232
4,12,0.016878,0.213210,0.288152,0.092140,0.389633,0.428507,0.206520,0.242320,0.122766,...,-0.002445,0.512256,0.009249,0.046409,0.201250,0.031477,0.078362,0.110009,-0.012743,-0.010942

In [91]:
?df2.to_csv